@font-face {
    src: url('../fonts/NunitoSans-Regular.ttf');
    font-family: "Nunito Sans";
}

@font-face {
    src: url('../fonts/YesevaOne-Regular.ttf');
    font-family: "Yeseva One";
}

body {
    margin: 0;
    font-family: 'Nunito Sans';
    color: #FFFFFF;
}

body * {
    box-sizing: border-box;
    text-decoration: none;
}

.container, .box_one, .page-one__container, .page-two__container, .page-three__container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.header {
    background-color: black;    
}

.button {
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    outline: 0;
    border: 0;
    padding: 11px 35px ;
    color: white;
    text-transform: uppercase;
    font-style: italic;
    font-size: 10px;   
    
}

.button:hover, .button:active {
    background: none;
    border: 1px solid #FFFFFF;    
}

.cf2 {
    color: #E3B873;
}

.logo {    
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;
    color: #E3B873;
    padding-top: 5px;    
}


.telephone {    
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-align: right;
    text-decoration-line: underline;    
    color: #E3B873;
}



.header-content {
    display: flex;
    justify-content: space-between;    
    align-items: center;
    height: 83px;
    padding: 0 92px;
}

.header-navigations {
    list-style: none;
    display: flex;
    margin-left: 77px;   
    padding-inline-start: 0;    
}

.header-navigations__items {
    margin-right: 54px;
}

.header-navigations__items a {     
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    color: white;    
}

.hero {
    position: relative;
    padding-top: 194px;
    padding-left: 134px;
    background-image: url(..//Img/hero.jpg);    
    height: 707px;
    -webkit-background-size: cover;
    background-size: cover;
}

.hero:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
    z-index: 2;
}

.box_one {
    
    position: relative;    
    z-index: 3;    
}

.title {
    margin: 0;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 1.325;
    text-transform: uppercase;
    width: 675px;
    height: 105px;    
}

.title-second {
    margin: 0;
    padding: 19px 0 21px 0;    
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 1.64;    
    width: 505px;   
}

.group-bottons {
    display: flex;
    width: 434px;
    height: 51px;
}

.bt1 {
    margin-right: 20px;
    padding: 20px 45px 25px 45px;    
}

.bt2 {
    padding: 20px 29px 25px 29px;   
}

.page-one {
    background-size: cover;
    height: 1080px;
    position: relative;
    background-color: #131313;
    padding: 107px 134px 415px 134px;
    margin-bottom: -298px;
}

.hero-navigations a {    
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.36;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.3);
    list-style: none;
    padding-right: 59px;       
}

.page-one__container {
    display: flex;
    flex-direction: column;    
}

.navigations_second {
    padding: 0 0 53px 0;    
    margin-left: 492px;    
}

.page-one__features {    
    display: flex;   
}

.page-one__features_title {
    display: flex;
    flex-direction: column;
    max-width: 492px;    
}

.title {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    color: #E3B873;
    margin: 0px;
    padding: 0 239px 34px 0;
}

.subtitle {    
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;    
    margin: 0;
    padding: 0 50px 42px 0;
}

h3.item {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #E3B873;
    margin: 0;	
}

span.text {    
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;    
}

.desc {
    display: grid;
    grid-template-columns: 1fr 1fr;    
}

.desc_block {    
    padding: 0 34px 34px 0;    
}

.slider {
    padding-top: 48px;
    width: 205px;
    height: 13px;     
}

.page-one__features_picture {
    height: 482px;
    width: 680px;
    left: 625px;
    top: 176px;
}


.page-two {
    display: flex;
    background-size: cover;
    height: 1072px;
    position: relative;    
}

.page_heading {
    display: block;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;    
    text-transform: uppercase;    
    padding: 0 0 12px 625px;
    margin: 0;
    
}

.page_icon {
    display: flex;
    align-items: center;
    padding:0 0 12px 664px;
}

.page-two_image_video {
    display: flex;
    position: relative;
    padding:0 0 62px 309px;
    
}

.page-two_image_video img {    
    filter: brightness(20%);
}

.ellips img {
    filter: none;
}    

.ellips {
    position: absolute;
    padding-top: 150px;
    padding-left: 325px;
}

.hr-line {
    margin: 0 692px 34px 692px;
    width: 55px;    
	height: 0;
	border: none;
	border-top: 1px solid #E3B873;    
}

.text_observation {    
    margin: 0 380px;    
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 37px;
    text-align: center;
    color: #363636;
    padding-bottom: 90px;
}

.form-row {    
    display: flex;
    padding-left: 333px;
    padding-right: 333px;
    padding-bottom: 35px;
    justify-content: space-between;
}

.form-group label {
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: rgba(54, 54, 54, 0.5);
}
.form-group {
    
}


.form-group input {    
    border: none;
    background: transparent;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);    
    padding: 7px 0 8px;
    outline: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    width: 231px;
    line-height: 23px;
    color: #363636;
}
.form-group__button {
    display: flex;
    align-items: flex-end;
}

.bt3 {
    width: 200px;
    height: 51px;
    font-style: normal;    
    font-weight: 400;
    font-size: 13px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
}

.bt3:hover, .bt3:active,
.btn_sc:hover, btn_sc:active {
    background: none;
    border: 1px solid #000000;
    color: #000000;    
}

.form-row__check {
    text-align: center;    
}

.form-row__check_text {
    color: #181818;
}

.custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.custom-checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}
  .custom-checkbox+label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    margin-right: 9px;
    border-radius: 1px;    
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.custom-checkbox:checked+label::before {
    border-color: #181818;
    background-color: #E3B873;
    background-image: url(../Img/Vector.svg);
}

.ph3 {
    color: #181818;
}

.page-three__services {
    display: flex; 
    justify-content: center;   
}

.service_card {
    width: 100%;
    max-width: 410px;
    padding-top: 19px;
    display: flex;
    flex-direction: column;
    align-items: center;
      
}

.service_card:nth-child(-n+2) {
    margin-right: 30px;
}

.service_title {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #363636;
    margin: 23px auto 13px 34px;
}
.list_works ul {
    padding-left: 0px;
    margin-left: 34px;
}
    

.list_works li {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 27px;
    color: #959595;
    
}

.list_works {
    background-color: #fff;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
    width: 330px;
    height: 295px;
    margin-top: -127px;
    margin-bottom: 152px;
}

.btn_sc {
    width: 228px;
    height: 54px;
    padding: 0;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #FFFFFF;
    transition: 0.2;
}

.form-order {
    display: flex;
    /* max-width: 720px; */
    width: 100%;
    height: 645px;
    /* margin-top: 152px; */
}

.work-order {
    background-image: url(../img/fon.jpg);
    max-width: 720px;
    padding-top: 117px;
    
}

.work01, .work02, .work03, .work04 {
    display: flex;
    margin-left: 200px;
    margin-bottom: 35px;
    /* margin-top: 117px; */
}

.imgblock {
    position: relative;
    display: inline-block;
}

.text-work {
    color: #363636;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    padding-right: 80px;

}

.imgblock span {
    color: #fff;   
    position: absolute;
    padding: 35px 35px;
    right: 0;
    bottom: 10px;
    font-size: 18px;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;    
}

.form-input {
    max-width: 720px;
    width: 100%;
    height: 645px;
    padding-left: 131px;
    padding-top: 117px;
    /* margin-top: 152px; */
}

.form-input__input {    
    padding:0 50px;
    background-color: #131313;
    width: 506px;
    height: 509px;
}

.form-input__lable {
    margin: 0;
    padding: 28px 90px 39px 90px;    
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    text-align: center;    
}


.fg_input label {
    color: rgba(255, 255, 255, 0.5)
}

.fg_input input {
    color: #FFFFFF;
    width: 408px;
}

.fg_input:nth-child(-n+3) {
    padding-bottom: 48px;
}

.fr_input {
    
    position: relative;
    text-align: left;
    padding-top: 16px;    
}

.container_input {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
 
  .container_input .check-highload {
    position: absolute;
    opacity: 0;
  }
  
  .highload2 {
    
    position: absolute;
    top: 5px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
  }
  
  .container_input:hover .check-highload ~ .highload2 {
    background-color: #ccc;
  }
  
  .container_input .check-highload:checked ~ .highload2 {
    background-color: #E3B873;
  }
  
  .highload2:after {
    content: "";
    position: absolute;
    display: none;
  }
  .container_input .check-highload:checked ~ .highload2:after {
    display: block;
  }
  
  .container_input .highload2:after {
    left: 4px;
    top: 1px;
    width: 8px;
    height: 8px;
    border: solid white;
    border-width: 0 4px 4px 0;
    transform: rotate(45deg);    
  }

  .text_checkbox {
    font-size: 14px; 
  }

  .form-input__input_button {
    display: flex;
    justify-content: flex-end;
  }

  .bt4 {
    width: 213px;
    height: 51px;
    
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;    
  }

  .bt4:hover, .bt4:active {
    background: none;
    border: 1px solid #FFFFFF;    
}

.page-three__discount {
    display: flex;
    justify-content: end;
}

.lable_pig {
    display: flex;
    
}

.ellips {
    position: relative;
}

.pig {
    position: absolute;
    padding-left: 36px;
    padding-top: 26px;
}

.discount {
    width: 400px;
    margin-right: 60px;
}

.text_discount {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #E3B873;
    text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
}








