@font-face {
    src: url('../fonts/NunitoSans-Regular.ttf');
    font-family: "Nunito Sans";
}

@font-face {
    src: url('../fonts/YesevaOne-Regular.ttf');
    font-family: "Yeseva One";
}

body {
    margin: 0;
    font-family: 'Nunito Sans';
    color: #FFFFFF;
}

body * {
    box-sizing: border-box;
    text-decoration: none;
}

.container, .navigationssecond {
    max-width: 1440px;
    margin: 0 auto;
}

.button {
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    outline: 0;
    border: 0;
    padding: 11px 35px ;
    color: white;
    text-transform: uppercase;
    font-style: italic;
    font-size: 10px;   
    
}

.button:hover, .button:active {
    background: none;
    border: 1px solid #FFFFFF;    
}

.cf2 {
    color: #E3B873;
}

.logo {    
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;
    color: #E3B873;
    padding-top: 5px;    
}


.telephone {    
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-align: right;
    text-decoration-line: underline;    
    color: #E3B873;
}

.header {
    background-color: black;    
}

.header-content {
    display: flex;
    justify-content: space-between;    
    align-items: center;
    height: 83px;
    padding: 0 92px;
}

.header-navigations {
    list-style: none;
    display: flex;
    margin-left: 77px;   
    padding-inline-start: 0;    
}

.header-navigations__items {
    margin-right: 54px;
}

.header-navigations__items a {     
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    color: white;    
}

.hero {
    position: relative;
    padding-top: 194px;
    padding-left: 134px;
    background-image: url(..//Img/hero.jpg);    
    height: 707px;
    -webkit-background-size: cover;
    background-size: cover;
}

.hero:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
    z-index: 2;
}

.box_one {
    position: relative;    
    z-index: 3;    
}

.title {
    margin: 0;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 1.325;
    text-transform: uppercase;
    width: 675px;
    height: 105px;    
}

.title-second {
    margin: 0;
    padding: 19px 0 21px 0;    
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 1.64;    
    width: 505px;   
}

.bottons {
    display: flex;
    width: 434px;
    height: 51px;
}

.bt1 {
    margin-right: 20px;
    padding: 20px 45px 25px 45px;    
}

.bt2 {
    padding: 20px 29px 25px 29px;   
}

.hero_two {
    background-size: cover;
    height: 1080px;
    position: relative;
    background-color: #131313;
    padding: 107px 134px 415px 134px;
    margin-bottom: -298px;
}

.hero-navigations a {    
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.36;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.3);
    list-style: none;
    padding-right: 59px;       
}

.container_blue {
    display: flex;
    flex-direction: column;    
}

.navigationssecond {
    padding: 0 0 53px 0;    
    margin-left: 492px;    
}

.container_green {    
    display: flex;   
}

.foto {
    height: 482px;
    width: 680px;
    left: 625px;
    top: 176px;
}

.comleted {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    color: #E3B873;
    margin: 0px;
    padding: 0 239px 34px 0;
}

.Only {    
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;    
    margin: 0;
    padding: 0 50px 42px 0;
}

.container_red {
    display: grid;
    grid-template-columns: 1fr 1fr;    
}

.block {    
    padding: 0 34px 34px 0;    
}

h3.item {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #E3B873;
    margin: 0;	
}

span.text {    
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;    
}

.arrows {
    padding-top: 48px;
    width: 205px;
    height: 13px;     
}

.container_pink {
    display: flex;
    flex-direction: column;
    max-width: 492px;    
}

.hero_three {
    display: flex;
    background-size: cover;
    height: 1072px;
    position: relative;    
}

.online {
    display: block;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;    
    text-transform: uppercase;    
    padding: 0 0 12px 625px;
    margin: 0;
    
}

.camera {
    display: flex;
    align-items: center;
    padding:0 0 12px 664px;
}

.image_video {
    display: flex;
    position: relative;
    padding:0 0 62px 309px;
    
}

.image_video img {    
    filter: brightness(20%);
}
    

.ellips {
    position: absolute;
    padding-top: 150px;
    padding-left: 325px;
}

.ellips img {
    filter: none;
}

.hr-line {
    margin: 0 692px 34px 692px;
    width: 55px;    
	height: 0;
	border: none;
	border-top: 1px solid #E3B873;    
}

.text_observation {    
    margin: 0 380px;    
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 37px;
    text-align: center;
    color: #363636;
    padding-bottom: 90px;
}

.form-row {    
    display: flex;
    padding-left: 333px;
    padding-right: 333px;
    padding-bottom: 35px;
    justify-content: space-between;
}

.form-group label {
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: rgba(54, 54, 54, 0.5);
}
.form-group input {    
    border: none;
    background: transparent;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);    
    padding: 7px 0 8px;
    outline: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #363636;
}
.form-group__button {
    display: flex;
    align-items: flex-end;
}

.bt3 {
    width: 200px;
    height: 51px;
    font-style: normal;    
    font-weight: 400;
    font-size: 13px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
}

.bt3:hover, .bt3:active {
    background: none;
    border: 1px solid #000000;
    color: #000000;    
}

.form-row__check {
    padding-left: 575px;
}

.form-row__check_text {
    color: #181818;
}

.custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.custom-checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}
  .custom-checkbox+label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    margin-right: 9px;
    border-radius: 1px;    
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.custom-checkbox:checked+label::before {
    border-color: #181818;
    background-color: #E3B873;
    background-image: url(../Img/Vector.svg);
}



